{% extends "plantilla.html" %}

{% block title %}
    {% if categoria_id %}
        Modificando la categoria{{ categoria_id }}
    {% else %}
        Nuevo post
    {% endif %} 
{% endblock %}

{% block contenido %}
<div>
    <!-- recibir el mesaje dentro de una variable-->
    {% with mensajes = get_flashed_messages() %}
    <!-- si existe el mensaje lo recorremos -->
        {% if mensajes %}
            {% for mensaje in mensajes %}
            <!-- imprimimos el mensaje -->
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ mensaje }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <p></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="", method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.opcion.label}}
            {{ form.opcion }} <br>
            {% for error in form.opcion.errors %}
                <span class="text-danger"> {{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
