
{% extends "plantilla.html" %}

{% block title %} carta {% endblock %}

{% block contenido %}
<div>
    <!-- recibir el mesaje dentro de una variable-->
    {% with mensajes = get_flashed_messages() %}
    <!-- si existe el mensaje lo recorremos -->
        {% if mensajes %}
            {% for mensaje in mensajes %}
            <!-- imprimimos el mensaje -->
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ mensaje }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <p></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h4 class='text-center text-primary pb-2 fuente'style='font-size: 25px;'>Añadir a la Carta</h4>
    <table class='table  table-sm'>
        <thead>
            <tr class ='bg-primary text-secondary fuente' style='font-size: 20px;'>
                <td >Nombre</td>
                <td>Operaciones</td>
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td class='fuente'>  {{ categoria.opcion }} </td>
                <!-- creamos enlaces de editar y eliminar -->
                <td>
                    <a href="{{ url_for('form_platos')}}" class="btn btn-info">añadir</a>
                    <a href="/borrar_opcion/{{ categoria.id }}" class="btn btn-warning boton_borrar" >Borrar</a>
                </td>
            </tr>
            {% endfor %}
            
                
            
        </tbody>
    </table>
</div> 




{% endblock %}