
{% extends "plantilla.html" %}

{% block title %} carta {% endblock %}

{% block contenido %}



<main>
    <div class='container'>
        <!-- recibir el mesaje dentro de una variable-->
        {% with mensajes = get_flashed_messages() %}
        <!-- si existe el mensaje lo recorremos -->
        {% if mensajes %}
            {% for mensaje in mensajes %}
            <!-- imprimimos el mensaje -->
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ mensaje }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <p></p>
            {% endfor %}
        {% endif %}
        {% endwith %}   
        <h1 class='display-4 text-center mt-4 fuente'>Gestionar la Carta</h1>
        <div class="center-block fuente mt-5">
            

        {% for categoria in categorias %}
        <div class='row'>
            <div class = 'col-md-9 mt-2'>
        <h2 class='fuente text-center mb-5'>{{categoria.opcion}}</h2>
            </div>
            <div class = 'col-md-3 mt-2'>
        <h3 class='fuente text-center mb-5'><a href="/get_platos/{{categoria.id}}" class="btn btn-info">añadir</a>
            <a href="/borrar_opcion/{{ categoria.id }}" class="btn btn-warning boton_borrar" >Borrar</a>
        </h3>
            </div>
        </div>    
        {% for plato in platos %}
        {%if categoria.id == plato.categoria_id%}
        <div class='row'>
            <div class='col-md-4 mb-2'>   
                <h5 class='fuente  mb-2'>  {{plato.plato}} </h5>
            </div>
            <div class='col-md-4 mb-2'>  
                <h5 class='fuente  mb-2'>Precio {{plato.precio}} Euros</h5>
            </div>
            <div class='col-md-4 mb-2'>  
                <a href="/borrar_plato/{{ plato.id }}" class="btn btn-warning boton_borrar" >Borrar</a>
            </div>
        </div>    
                {%endif%}
    
            {%endfor%}
        {% endfor %}
                
        </div>
    </div>
</main>


{% endblock %}