{% extends "plantilla.html" %}

    {% block title %} Registro Usuarios {% endblock %}

{% block contenido %}
<main>
    <div class='container'>
        <h1 class='display-4 text-center mt-4 fuente'>Mi bar - Registro Usuarios</h1>
        <div class='row'>
            <!-- COLUMNA LATERAL IZQUIERDA -->
            <div class="col-md-3 mt-3">
            </div>
            <!-- FIN COLUMNA LATERAL IZQUIERDA -->

            <!-- COLUMNA CETRAL -->
            <div class ='col-md-6 mt-3'>  
                    <div class='card card_body mt-2'>
                        <!-- MENSAJES -->
                        <div> 
                            {% with mensajes = get_flashed_messages() %}
                                {% if mensajes %}
                                    {% for mensaje in mensajes %}
                                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                                        {{ mensaje }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    
                                    <p></p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        <!--ERROR  -->
                        {% if error %}
                        <p clase="text-danger"><strong>Error:</strong> {{ error }}</p>
                        {% endif %}

                        <h4 class='fuente text-center mb-5'style='font-size: 25px;'>Registrar Usuario</h4>
                        <!-- FORMULARIO DE REGISTRO -->
                        <form action="" method="POST" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.nombre  (class="form-control", placeholder="Nombre")}} <br>
                                {% for error in form.nombre.errors %}
                                    <span class="text-danger"> {{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                {{ form.email (class="form-control", placeholder="Email")}} <br>
                                {% for error in form.email.errors %}
                                    <span class="text-danger"> {{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                {{ form.password (class="form-control", placeholder="Contraseña")}} <br>
                                {% for error in form.password.errors %}
                                    <span class="text-danger"> {{ error }}</span>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                {{ form.submit(class='form-control btn btn-primary') }}
                            </div>
                        </form>
                    </div>
            </div>
            <!-- FIN COLUNMA CENTRAL  -->

            <!--COLUMNA LATERAL DERECHA  -->
            <div class="col-md-3 mt-3">
            </div>
            <!-- FIN COLUMNA LATERAL DERECHA -->
        </div>    
    </div>
</main>
{% endblock %}